@page
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@inject IViewLocalizer Localizer

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
</div>

<div class="text-center">
    <h1 class="display-4">Current Culture: @CultureInfo.CurrentCulture.Name</h1>
</div>